/* Styling for header/footer */
header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
    color: white;
    text-align: center;
    font-family: arial;
    background-color: #333;
}

/* Horizontal nav bar */
ol,ul {
	list-style: none;
}

#topnav {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#topnav li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#topnav a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#topnav a:hover {
	background-color:#009;
	color:#fff;
}

/* Styling for columns */
  .some-page-wrapper {
    margin: 15px;
    background-color: rgb(255, 255, 255);
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .column-one, .column-two {
    height: 200px;
    width: 85%;
    text-align: center;
    font-size: 30px;
    font-family: arial;
    margin: 10px auto;
  }

  /* Styling for images */
  img {
    display: flex;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }